<div class="container" style="margin-top:25px;">
    <div class="row">      
        
        <div style="text-align:center;font-size:22px;font-weight:bold;padding:25px;display:block;">
        @ViewBag.SiparisNo Numaralı Siparişiniz Alınamadı, Lütfen Daha Sonra Tekrar Deneyiniz  <br /> <br />
        Anasayfaya Dönmek için <a href="/" class="btn btn-default">Tıklayınız</a>
        </div>

    </div>
</div>
